.cta {
  position: relative;
  padding-block: 7.6rem;
  background-color: $clr2;
  gap: 26rem;

  .svg {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  p {
    color: $clr4;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 4.8rem;
  }

  .contact-btn {
    border-color: $clr4;
    color: $clr4;
  }
}
