.features {
  position: relative;
  height: 68.4rem;
  // padding: 14rem 16.5rem;
  // padding: 14rem 26.5rem;
  padding-block: 14rem;

  background-color: #012f34;

  display: flex;
  justify-content: center;
  // grid-template-columns: 44.5rem 54rem;
  gap: 12.5rem;
  overflow-x: hidden;

  .header-container {
    gap: 5.4rem;
    .rect {
      width: 5rem;
      height: 0.4rem;
      flex-shrink: 0;
      background-color: $clr2;
    }
    h2 {
      min-width: 44.5rem;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 4.8rem;
    }
  }

  ul {
    margin-block-start: 5.8rem;
    flex-direction: column;
    gap: 3.2rem;
    li {
      max-width: 54rem;
      .list-item {
        display: flex;
        gap: 2.3rem;
        .svg {
          width: 7.2rem;
          height: 7.2rem;
        }

        .text-container {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;
          h3 {
            color: $clr2;
            font-weight: 700;
            line-height: 2.8rem;
          }
        }
      }
    }
  }

  > .svg {
    position: absolute;
    height: 24.4rem;
    width: 20rem;
    bottom: 0;
    right: 0;
    transform: translateX(50%);
  }
}
