// Breakpoints
$mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$narrow-breakpoint: 960px;
$normal-breakpoint: 1280px;
$wide-breakpoint: 1440px;

// Colors

$clr1: #014e56;
$clr2: #f67e7e;
$clr3: #79c8c7;
$clr4: #012f34;
$clr5: #004047;
$clr6: #c4fffe;
$clr7: #002529;
$clr-white: #fff;
